.repl
*.log

# sbt specific
.cache
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea/
.DS_STORE
metastore_db
derby.log
*.iml

.bigquery

data/

notebooks/
